<!DOCTYPE html>
<html>

<head>
    <title>My Resume</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="wraper">
        <div class="container">
            <div class="left-content p-30">
                <div class="logo">
                    <a href="http://127.0.0.1:8000/">
                        <span></span>
                        <span>HOME</span>
                    </a>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/documentacion">Documentación</a></li>
                    </ul>
                </div>
                <div class="left-footer">
                    <div class="social-icons">
                        <ul>
                            <!--<li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>-->
                            <li><a href="https://www.facebook.com/KriitianWhite/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/blanco5321"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/kritianwhite/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="foot-contact">
                        <ul>
                            <li>blancochristian7@gmail.com</li>
                            <li>+502 5593 8388</li>
                        </ul>
                    </div>

                    <div class="copy-rights">Copyright &copy;2019 All rights reserved</div>
                </div>

            </div>
            <div class="main-content">
                <div class="section1 p-30" id="Home">
                    <div class="sec-title">
                        <div class="pg-sub-title">Home</div>
                        <div class="pg-title">My Profile</div>
                    </div>
                    <div class="d-flex-align-center">
                        <div class="user-img flex-1"><img src="../static/Photo.jpg"></div>
                        <div class="user-profile flex-1">
                            <div class="pro-details">
                                <div class="sm-text">HELLO EVERYBODY, I AM</div>
                                <div class="name">Christian Blanco</div>
                                <div class="role">UI Developer</div>
                            </div>
                            <div class="text">I am a developer who likes to transform people's dreams, ideas and capture them virtually, using imagination and creating solutions out of the box.</div>
                            <div class="pr-list">
                                <ul>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i> 19th Nov, 2000</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> +502 5593 8388</li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> blancochristian7@gmail.com</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Villa Nueva, Guatemala</li>
                                </ul>
                            </div>
                            <div class="social-icons-head">
                                <ul>
                                    <!--<li><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>-->
                                    <li><a href="https://www.facebook.com/KriitianWhite/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/blanco5321"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/kritianwhite/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>